*.class
*.log
.idea/*
goingok.iml
src/main/resources/application.conf
project/LocalSbtSettings.scala
/src/main/public/css/bootstrap.css
/src/main/public/css/bootstrap-reboot.css
/src/main/public/css/bootstrap-grid.css
/src/main/public/img/
/src/main/public/js/bootstrap.js
/src/main/public/js/bootstrap.bundle.js
/src/main/public/ui/
/src/main/public/css/bootstrap.css.map
/src/main/public/css/bootstrap-grid.min.css.map
/src/main/public/css/bootstrap.min.css
/src/main/public/css/bootstrap-reboot.min.css.map
/src/main/public/css/bootstrap-grid.css.map
/src/main/public/css/bootstrap-grid.min.css
/src/main/public/css/bootstrap-reboot.css.map
/src/main/public/css/bootstrap-reboot.min.css
/src/main/public/css/bootstrap.min.css.map
/src/main/public/js/bootstrap.bundle.js.map
/src/main/public/js/bootstrap.bundle.min.js
/src/main/public/js/bootstrap.bundle.min.js.map
/src/main/public/js/bootstrap.js.map
/src/main/public/js/bootstrap.min.js
/src/main/public/js/bootstrap.min.js.map
