*.class
*.log
*.DS_Store
.idea/*
goingok.iml
project/LocalSbtSettings.scala
/src/main/public/css/bootstrap.css
/src/main/public/css/bootstrap-reboot.css
/src/main/public/css/bootstrap-grid.css
/src/main/public/js/bootstrap.js
/src/main/public/js/bootstrap.bundle.js
/src/main/public/css/bootstrap.css.map
/src/main/public/css/bootstrap-grid.min.css.map
/src/main/public/css/bootstrap.min.css
/src/main/public/css/bootstrap-reboot.min.css.map
/src/main/public/css/bootstrap-grid.css.map
/src/main/public/css/bootstrap-grid.min.css
/src/main/public/css/bootstrap-reboot.css.map
/src/main/public/css/bootstrap-reboot.min.css
/src/main/public/css/bootstrap.min.css.map
/src/main/public/js/bootstrap.bundle.js.map
/src/main/public/js/bootstrap.bundle.min.js
/src/main/public/js/bootstrap.bundle.min.js.map
/src/main/public/js/bootstrap.js.map
/src/main/public/js/bootstrap.min.js
/src/main/public/js/bootstrap.min.js.map
/src/main/resources/application-bkp.conf

/clientJS/target/
/project/target/
/target/
/public/javascripts/client-fastOptJS-entrypoint.js
/public/javascripts/client-fastOptJS-bundle.js
/public/javascripts/d3.min.js
/public/javascripts/client-fastOptJS.js
/public/javascripts/client-fastOptJS-loader.js
/public/javascripts/d3Test.js
/public/javascripts/client-fastOptJS.js.map
/public/javascripts/client-fastOptJS-bundle.js.map

project/project/target/

goingok_server/target/

goingok_client/target/
