.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch
}

#sidebar {
    width: 300px;
    background: #000000;
    color: #fff;
    transition: all 0.3s;
    border-top: 2px solid #fff;
    height: 100vh;
    margin-left: -225px;
    overflow-y: auto;
    overflow-x: hidden;
}

#sidebar.active {
    margin-left: 0
}

#sidebar-btn {
    transition: all 0.3s;
}

#sidebar-btn.active {
    margin-left: 7px;
}

#groups {
    transition: all 0.3s;
}

#groups.active {
    opacity: 0;
}

#switch-dashboard.active {
    opacity: 0;
}

.group-row {
    background-color: #000000 !important;
    color: #fff !important;
    border-bottom: 1px solid #0f856b !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

.content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s
}

.content-wrapper {
    padding: 15px
}

@media(max-width:768px) {
    .wrapper {
        display: block;
    }

    #sidebar {
        height: 65px;
        width: 100%;
        margin-left: 0;
        overflow: hidden;
    }

    #sidebar.active {
        margin-left: 0px;
        height: 250px;
        overflow-y: auto;
    }

    #sidebarCollapse span {
        display: none
    }
}

.chart-container {
    min-height: 30vh;
}

.chart-svg {
    margin-top: 10px;
}

.instructions {
    color: #ff6600;
}

.statistics-text {
    font-size: 0.875rem;
    overflow: auto;
    margin-top: 1rem;
}

.statistics-text .positive {
    color: #14A06AFF;
}

.statistics-text .negative {
    color: #ff3300;
}

.user-chart {
    height: 15vh;
}

.users-tab-pane {
    height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.bar, .circle, .circle-group, .histogram-rect, .zoom-circle, .legend-color {
    fill-opacity: 0.2;
    stroke-width: 1;
}

.circle-user {
    fill-opacity: 0.75;
}

.bar, .circle {
    cursor: pointer;
}

.bar.no-click {
    cursor: auto;
}

.bar.no-click:hover {
    fill-opacity: 0.2;
    stroke-width: 1;
}

.box-line {
    stroke-width: 1;
    stroke:#3399CC;
}

.arc {
    fill-opacity: 0.2;
    stroke-width: 1;
}

.bar:hover, .arc:hover, .histogram-rect:hover, .circle:hover {
    fill-opacity: 0.4;
    r: 10;
}

.circle.no-hover {
    cursor: auto;
}

.circle.no-hover:hover {
    r: 2
}

.dragging {
    fill-opacity: 0.8 !important;
}

.clicked {
    stroke-width: 2 !important;
    fill-opacity: 0.6 !important;
    r: 10;
}

.clicked.main {
    r: 15;
    stroke: #ffff80;

}

.line {
    fill: none;
    stroke: #3399CC;
}

.tooltip-container {
    opacity: 0;
}

.tooltip-box, .click-box, .histogram-text-box {
    stroke-width: 1;
    stroke: #333;
    fill: #333;
    fill-opacity: 0.75;
    ry: 5;
    rx: 5;
}

.tooltip-text, .click-text, .histogram-text {
    fill: #ffffff;
    font-size: 0.75rem;
    font-weight: normal;
}

.histogram-text {
    fill: #ffffff;
    font-size: 0.75rem;
    font-weight: normal;
    cursor: help;
}

.tooltip-text.title, .click-text.title {
    font-weight: bold;
}

.tooltip-line {
    stroke: #3399CC;
    stroke-width: 1;
    stroke-dasharray: 5,5;
    opacity: 0.4;
}

.click-line {
    fill: none;
    stroke: #3399CC;
    stroke-width: 1;
}

.click-line.dash {
    stroke-dasharray: 5,5;
}

.click-text.black {
    fill: #333;
    font-weight: bold;
    text-anchor: middle;
}

.click-text.positive {
    fill: #14A06AFF;
    font-weight: bold;
    text-anchor: middle;
}

.click-text.negative {
    fill: #ff3300;
    font-weight: bold;
    text-anchor: middle;
}

.threshold-line {
    stroke-width: 5;
}

.threshold-line.grab {
    cursor: grab;
}

.threshold-line.grabbing {
    cursor: grabbing;
}

.threshold-line.distressed {
    stroke: #377eb8;
}


.threshold-line.soaring {
    stroke: #ff7f00;
}


.threshold-indicator-box {
    stroke-width: 1;
    fill-opacity: 0.75;
    ry: 5;
    rx: 5;
}

.threshold-indicator-box.soaring {
    stroke: #ff7f00;
    fill: #ff7f00;
}

.threshold-indicator-box.distressed {
    stroke: #377eb8;
    fill: #377eb8;
}

.threshold-indicator-text {
    font-size: 0.75rem;
}

.y-label-container.sort:hover {
    cursor: pointer;
    font-weight: bold;
}

.sort-arrow {
    fill: #f2f2f2;
}

.sort-arrow.active {
    fill: #333;
}

.zoom-bar-content {
    fill-opacity: 0.2;
    fill:  #3399CC;
}

.zoom-rect {
    fill-opacity: 0;
}

.zoom-rect.active {
    cursor: zoom-in;
}

.zoom-bar-content.zoom-line {
    fill: none;
}

.zoom-focus {
    outline: solid 2px rgb(176, 176, 185);
}

.zoom-content {
    fill-opacity: 0;
    stroke-opacity: 0;
}

.user-legend-text {
    dominant-baseline: central;
    font-size: 10px;
}

.reflection-selected {
    background-color:#ffff80;
}

.bin-name.distressed {
    color: #006fe6;
}

.bin-name.soaring {
    color: #ff9900;
}

.bin-name.goingok {
    color: #2eb82e;
}

/**************************************************
Spinner CSS
***************************************************/

.loader {
    background: #000;
    background: radial-gradient(#222, #000);
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
}

.loader-inner {
    bottom: 0;
    height: 60px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}

.loader-line-wrap {
    animation:
            spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite
;
    box-sizing: border-box;
    height: 50px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform-origin: 50% 100%;
    width: 100px;
}
.loader-line {
    border: 4px solid transparent;
    border-radius: 100%;
    box-sizing: border-box;
    height: 100px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}
.loader-line-wrap:nth-child(1) { animation-delay: -50ms; }
.loader-line-wrap:nth-child(2) { animation-delay: -100ms; }
.loader-line-wrap:nth-child(3) { animation-delay: -150ms; }
.loader-line-wrap:nth-child(4) { animation-delay: -200ms; }
.loader-line-wrap:nth-child(5) { animation-delay: -250ms; }

.loader-line-wrap:nth-child(1) .loader-line {
    border-color: hsl(0, 80%, 60%);
    height: 90px;
    width: 90px;
    top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line {
    border-color: hsl(60, 80%, 60%);
    height: 76px;
    width: 76px;
    top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line {
    border-color: hsl(120, 80%, 60%);
    height: 62px;
    width: 62px;
    top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line {
    border-color: hsl(180, 80%, 60%);
    height: 48px;
    width: 48px;
    top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line {
    border-color: hsl(240, 80%, 60%);
    height: 34px;
    width: 34px;
    top: 35px;
}

@keyframes spin {
    0%, 15% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

/**************************************************
Tutorial CSS
***************************************************/

.no-overflow {
    overflow: hidden;
}

.tutorial {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.tutorial .tutorial-backdrop {
    z-index: 1050;
    background-color: #000000;
    opacity: 0.75;
    height: inherit;
    width: inherit;
    position: inherit;
}

.tutorial .tutorial-content {
    color: #ffffff;
    z-index: 1100;
    position: inherit;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    max-width: 500px;
}

.tutorial .tutorial-arrow {
    position: inherit;
    z-index: 1100;
}

.tutorial .tutorial-buttons {
    z-index: 1100;
    position: inherit;
    width: 200px;
    display: flex;
}

.arrow {
    stroke: #ffffff;
    stroke-width: 3px;
    fill: none;
}

.arrow-head {
    stroke: #ffffff;
    fill: #ffffff;
}