.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch
}

.content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s
}

.content-wrapper {
    padding: 15px
}

/**************************************************
Admin CSS
***************************************************/

:root {
    --optimum: #006622;
    --sub-optimum: #002db3;
    --sub-sub-optimum: #ff9900;
}

#sidebar {
    width: 300px;
    background: #000000;
    color: #fff;
    transition: all 0.3s;
    border-top: 2px solid #fff;
    height: 100vh;
    margin-left: -225px;
    overflow-y: auto;
    overflow-x: hidden;
}

#sidebar.active {
    margin-left: 0
}

#sidebar-btn {
    transition: all 0.3s;
}

#sidebar-btn.active {
    margin-left: 7px;
}

#groups {
    transition: all 0.3s;
}

#groups.active {
    opacity: 0;
}

#switch-dashboard.active {
    opacity: 0;
}


.group-row {
    background-color: #000000 !important;
    color: #fff !important;
    border-bottom: 1px solid #0f856b !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

@media(max-width:768px) {
    .wrapper {
        display: block;
    }

    #sidebar {
        height: 65px;
        width: 100%;
        margin-left: 0;
        overflow: hidden;
    }

    #sidebar.active {
        margin-left: 0px;
        height: 250px;
        overflow-y: auto;
    }

    #sidebarCollapse span {
        display: none
    }
}

.chart-container {
    min-height: 30vh;
}

.instructions {
    color: #ff6600;
}

.statistics-text {
    font-size: 0.875rem;
    margin-top: 1rem;
}

.statistics-text .positive {
    color: #14A06AFF;
}

.statistics-text .negative {
    color: #ff3300;
}

.user-chart {
    height: 15vh;
}

.users-tab-pane {
    height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.bar, .circle, .circle-group, .histogram-rect, .zoom-circle, .legend-color {
    fill-opacity: 0.2;
    stroke-width: 1;
}

.circle-user {
    fill-opacity: 0.75;
}

.bar, .circle, .pointer {
    cursor: pointer;
}

.bar.no-click {
    cursor: auto;
}

.bar.no-click:hover {
    fill-opacity: 0.2;
    stroke-width: 1;
}

.bar:hover, .histogram-rect:hover, .circle:hover {
    fill-opacity: 0.4;
}

.circle.no-hover {
    cursor: auto;
}

.dragging {
    fill-opacity: 0.8;
}

.clicked {
    stroke-width: 2;
    fill-opacity: 0.6;
}

.clicked.main {
    stroke: #ffff80;
    fill-opacity: 0.80;
    stroke-width: 5px;
}

.not-clicked {
    stroke-width: 0.1;
    stroke-opacity: 0.1;
    fill-opacity: 0.1;
}

.author-line, .line {
    fill: none;
    stroke: #3399CC;
}

.tooltip-container {
    opacity: 0;
}

.tooltip-box, .click-box, .histogram-text-box {
    stroke-width: 1;
    stroke: #333;
    fill: #333;
    fill-opacity: 0.75;
}

.tooltip-text, .click-text, .histogram-text {
    fill: #ffffff;
    font-size: 0.75rem;
    font-weight: normal;
}

.histogram-text {
    fill: #ffffff;
    font-size: 0.75rem;
    font-weight: normal;
    cursor: help;
}

.tooltip-text.title, .click-text.title {
    font-weight: bold;
}

.tooltip-line {
    stroke: #3399CC;
    stroke-width: 1;
    stroke-dasharray: 5,5;
    opacity: 0.4;
}

.click-line {
    fill: none;
    stroke: #3399CC;
    stroke-width: 1;
}

.click-line.dash {
    stroke-dasharray: 5,5;
}

.click-text.black {
    fill: #333;
    font-weight: bold;
    text-anchor: middle;
}

.click-text.positive {
    fill: #14A06AFF;
    font-weight: bold;
    text-anchor: middle;
}

.click-text.negative {
    fill: #ff3300;
    font-weight: bold;
    text-anchor: middle;
}

.threshold-line {
    stroke-width: 5;
}

.threshold-line.grab {
    cursor: row-resize;
}

.threshold-line.grab:hover {
    stroke-width: 10;
    stroke :hsl(60, 80%, 60%);
}

.threshold-line.grabbing {
    cursor: grabbing;
}

.threshold-line.distressed {
    stroke: var(--sub-sub-optimum);
}


.threshold-line.soaring {
    stroke: var(--optimum);
}


.threshold-indicator-box {
    stroke-width: 1;
    fill-opacity: 0.75;
}

.threshold-indicator-box.soaring {
    stroke: var(--optimum);
    fill: var(--optimum);
}

.threshold-indicator-box.distressed {
    stroke: var(--sub-sub-optimum);
    fill: var(--sub-sub-optimum);
}

.threshold-indicator-text {
    font-size: 0.75rem;
}

.zoom-buttons {
    margin-left: auto;
    margin-bottom: 0;
    width: 160px !important;
}

.zoom-bar-content {
    fill-opacity: 0.2;
    fill:  #3399CC;
}

.zoom-rect {
    fill-opacity: 0;
}

.zoom-rect.active {
    cursor: move;
}

.zoom-bar-content.zoom-line {
    fill: none;
}

.zoom-focus {
    outline: solid 2px rgb(176, 176, 185);
}

.zoom-content {
    fill-opacity: 0;
    stroke-opacity: 0;
}

.reflection-selected {
    border: solid 5px#ffff80;
}

.xx-small {
    font-size: xx-small;
}

meter.user-meter:-moz-meter-optimum::-moz-meter-bar {
    background: var(--optimum);
}

meter.user-meter::-webkit-meter-optimum-value {
    background: var(--optimum);
}

meter.user-meter:-moz-meter-sub-optimum::-moz-meter-bar {
    background: var(--sub-optimum);
}

meter.user-meter::-webkit-meter-suboptimum-value {
    background: var(--sub-optimum);
}

meter.user-meter:-moz-meter-sub-sub-optimum::-moz-meter-bar {
    background: var(--sub-sub-optimum);
}

meter.user-meter::-webkit-meter-even-less-good-value {
    background: var(--sub-sub-optimum);
}

/**************************************************
Author CSS
***************************************************/

.chart-container.timeline {
    min-height: 57vh;
}

.chart-container.network {
    min-height: 70vh;
}

.reflections-tab {
    height: 70vh;
    overflow-y: auto;
}

.tag-row {
    background-color: #fff !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    text-align: center;
}

.hardline {
    fill: none;
    stroke: #bbeeff;
    stroke-width: 2px;
    stroke-opacity: 0.6;
}

.softline {
    fill: none;
    stroke: #cc0000;
    stroke-width: 2px;
}

.meanline {
    fill: none;
    stroke: #ffff00;
    stroke-width: 10px;
    stroke-opacity: 0.3;
}

.point {
    fill: #0000FF;
    stroke: none;
    stroke-width: 0px;
    opacity: 0.5;
}

.network-node-group.clicked {
    fill-opacity: 1;
}

.network-node {
    stroke-width: 1;
}

.hover {
    opacity: 0;
}

.network-text {
    text-anchor: middle;
    font-size: 75%;
    font-weight: 500;
}

.network-link, .reflection-link {
    fill: none;
    stroke: #6c757d;
    stroke-width: 1;
}

.network-link {
    stroke-linecap: round ;
    stroke-opacity: 0.5;
}

.reflection-link {
    stroke-opacity: 0.25;
    stroke-dasharray: 5,5;
}

/**************************************************
Spinner CSS
***************************************************/

.loader {
    background: #000;
    background: radial-gradient(#222, #000);
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
}

.loader-inner {
    bottom: 0;
    height: 60px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}

.loader-line-wrap {
    animation:
            spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite
;
    box-sizing: border-box;
    height: 50px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform-origin: 50% 100%;
    width: 100px;
}
.loader-line {
    border: 4px solid transparent;
    border-radius: 100%;
    box-sizing: border-box;
    height: 100px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}
.loader-line-wrap:nth-child(1) { animation-delay: -50ms; }
.loader-line-wrap:nth-child(2) { animation-delay: -100ms; }
.loader-line-wrap:nth-child(3) { animation-delay: -150ms; }
.loader-line-wrap:nth-child(4) { animation-delay: -200ms; }
.loader-line-wrap:nth-child(5) { animation-delay: -250ms; }

.loader-line-wrap:nth-child(1) .loader-line {
    border-color: hsl(0, 80%, 60%);
    height: 90px;
    width: 90px;
    top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line {
    border-color: hsl(60, 80%, 60%);
    height: 76px;
    width: 76px;
    top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line {
    border-color: hsl(120, 80%, 60%);
    height: 62px;
    width: 62px;
    top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line {
    border-color: hsl(180, 80%, 60%);
    height: 48px;
    width: 48px;
    top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line {
    border-color: hsl(240, 80%, 60%);
    height: 34px;
    width: 34px;
    top: 35px;
}

@keyframes spin {
    0%, 15% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

/**************************************************
Tutorial CSS
***************************************************/

.no-overflow {
    overflow: hidden;
}

.tutorial {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.tutorial .tutorial-backdrop {
    z-index: 1050;
    background-color: #000000;
    opacity: 0.75;
    height: inherit;
    width: inherit;
    position: inherit;
}

.tutorial .tutorial-content {
    color: #ffffff;
    z-index: 1100;
    position: inherit;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    max-width: 500px;
    padding: 0.75rem;
    border: #ffffff solid;
}

.tutorial .tutorial-arrow {
    position: inherit;
    z-index: 1100;
}

.tutorial .tutorial-buttons {
    z-index: 1100;
    position: inherit;
    width: 200px;
    display: flex;
}

.arrow {
    stroke: #ffffff;
    stroke-width: 3px;
    fill: none;
}

.arrow-head {
    stroke: #ffffff;
    fill: #ffffff;
}