#slider-group {
  border-color: #FFFFFF;
  padding-bottom: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

#describe {
  font-family: "DejaVu Sans", Arial, SansSerif;
  font-size: 11pt;
  color: #0b4b49;
}

input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}

input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(60, 200, 120, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(60, 200, 120, 1);
}

.header-button {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: center;
  line-height: 100%;
}