.navbar-nav > li > a, .navbar-brand {
  padding-top:5px !important; padding-bottom:0 !important;
  height: 38px;
}
.navbar {
    min-height:38px !important;
    background-color: #000000;
}

#logo {
  height: 40px;
  vertical-align: top;
}

.navbar-nav .nav-item .nav-link {
  color: #0f856b;
  font-size: 18px;
  font-weight: 500;
  margin-top: 6px;
  vertical-align: bottom;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #ffffff;
}
.navbar .navbar-nav .active .nav-link {
    color: #24c32b;
}