.header-button {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: center;
    line-height: 100%;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 97%;
    padding-bottom: 28%;
    vertical-align: middle;
    overflow: hidden;
}
.svg-content {
    display: inline-block;
    position: absolute;
    margin: 5px;
    padding-top: 5px;
    padding-left:7%;
    /*top: 50px;
    left: 5%; */
}

.hardline {
    fill: none;
    stroke: #bbeeff;
    stroke-width: 2px;
    stroke-opacity: 0.6;
}

.softline {
    fill: none;
    stroke: #cc0000;
    stroke-width: 2px;
}

.meanline {
    fill: none;
    stroke: #ffff00;
    stroke-width: 10px;
    stroke-opacity: 0.3;
}

.point {
    fill: #0000FF;
    stroke: none;
    stroke-width: 0px;
    opacity: 0.5;
}


.axis path, .axis line {
    fill: none;
    stroke: #000;
}