/* You can add global styles to this file, and also import other style files */

/* ==========================================================================
   Author's custom styles
   ========================================================================== */body{padding-top:60px}.st-selected{background-color:#0c2}#usersAndGroups{max-height:400px;overflow:auto}

/*@font-face {*/

/*font-family: 'NeuropoliticalRegular';*/

/*src: url('assets/fonts/neuropolitical_rg-webfont.eot');*/

/*src: url('assets/fonts/neuropolitical_rg-webfont.eot?#iefix') format('embedded-opentype'),*/

/*url('assets/fonts/neuropolitical_rg-webfont.woff') format('woff'),*/

/*url('assets/fonts/neuropolitical_rg-webfont.ttf') format('truetype'),*/

/*url('assets/fonts/neuropolitical_rg-webfont.svg#NeuropoliticalRegular') format('svg');*/

/*font-weight: normal;*/

/*font-style: normal;*/

/*}*/

/*@font-face {*/

/*font-family: 'EuphorigenicRegular';*/

/*src: url('assets/fonts/euphorigenic-webfont.eot');*/

/*src: url('assets/fonts/euphorigenic-webfont.eot?#iefix') format('embedded-opentype'),*/

/*url('assets/fonts/euphorigenic-webfont.woff') format('woff'),*/

/*url('assets/fonts/euphorigenic-webfont.ttf') format('truetype'),*/

/*url('assets/fonts/euphorigenic-webfont.svg#EuphorigenicRegular') format('svg');*/

/*font-weight: normal;*/

/*font-style: normal;*/

/*}*/

/*#bizlytix-font {*/

/*color: #ff8800;*/

/*font-family: 'NeuropoliticalRegular', Arial, sans-serif;*/

/*}*/

/*.bizlytixType_heading {*/

/*font-family: 'NeuropoliticalRegular', Arial, sans-serif;*/

/*color: #FF6600;*/

/*font-size: 30pt;*/

/*}*/

/*.bizlytixType_subHeading {*/

/*font-family: 'NeuropoliticalRegular', Arial, sans-serif;*/

/*color: #FF6600;*/

/*font-size: 18pt;*/

/*}*/

/*.goingok-font {*/

/*color: #00CC22;*/

/*font-family: 'EuphorigenicRegular', Arial, sans-serif;*/

/*}*/

/*.goingokType_heading {*/

/*font-family: 'EuphorigenicRegular', Arial, sans-serif;*/

/*color: #00CC22;*/

/*font-size: 36pt;*/

/*}*/

/*.goingokType_subHeading {*/

/*font-family: 'EuphorigenicRegular', Arial, sans-serif;*/

/*color: #00CC22;*/

/*font-size: 20pt;*/

/*}*/#reflectionBox{height:180px}#goingokMessage,#reflectionBox{overflow:-moz-scrollbars-vertical;overflow:scroll}#goingokMessage{height:220px}/**
 * Dragdealer.js 0.10.0
 * http://github.com/skidding/dragdealer
 *
 * (c) 2010+ Ovidiu Cherecheș
 * http://skidding.mit-license.org
 */.dragdealer{position:relative;height:30px;background:#eee}.dragdealer .handle{position:absolute;top:0;left:0;cursor:pointer}.dragdealer .red-bar{width:100px;height:30px;background:#c00;color:#fff;font-size:14px;line-height:30px;text-align:center}.dragdealer .disabled{background:#898989}