#reflectionBox {
  height: 180px;
  overflow: -moz-scrollbars-vertical;
  overflow: scroll;
}

#goingokMessage {
  height: 220px;
  overflow: -moz-scrollbars-vertical;
  overflow: scroll;
}

tr td {
  word-wrap: break-word;
  max-width: 480px;
  min-width: 100px;
}

